data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep
__pycache__/
*.pyc
.DS_Store
.venv/
venv/

# Android
android-app/
*.apk
*.ap_
*.aab
android-app/app/build/
android-app/.idea/
android-app/.gradle/
android-app/local.properties
android-app/captures/

